<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            LISTA DE COMPRAS
        </ion-title>
        <ion-button padding-end small slot="end" [routerLink]="['/logout']">
            <ion-icon name="exit"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<!-- <ion-content padding>

    <ion-list>
        <ion-item *ngFor="let item of compras; let i = index;">
            <ion-label>
                <h5>
                    <ion-icon name="list"></ion-icon> Nombre: {{ item.productos.nombre|uppercase }}
                </h5>
                <p>
                    <ion-icon name="checkmark"></ion-icon> Cantidad: {{ item.cantidad }}
                </p>
                <p>
                    <ion-icon name="cash"></ion-icon> Total: {{ item.total }}
                </p>
                <p>
                    <ion-icon name="calendar"></ion-icon> Fecha: {{ item.fecha }}
                </p>
            </ion-label>
            <div class="item-note" item-end>
                <button ion-button class="button-inner" (click)="abrirModal(item)">
                    <ion-icon name="create" style="zoom:2.0"></ion-icon>
                </button>
                <button ion-button (click)="eliminar(item)">
                    <ion-icon name="trash" style="zoom:2.0"></ion-icon>
                </button>
            </div>
        </ion-item>
    </ion-list>

</ion-content> -->



<ion-content padding>

    <ion-list>
        <ion-item *ngFor="let item of dataList">
            <ion-label>
                <h5>
                    <ion-icon name="barcode"></ion-icon> Codigo: {{ item.codigo }}
                </h5>
                <h5>
                    <ion-icon name="list"></ion-icon> Nombre: {{ item.productos.nombre|uppercase }}
                </h5>
                <p>
                    <ion-icon name="checkmark"></ion-icon> Cantidad: {{ item.cantidad }}
                </p>
                <p>
                    <ion-icon name="cash"></ion-icon> Total: {{ item.total }}
                </p>
                <p>
                    <ion-icon name="calendar"></ion-icon> Fecha: {{ item.fecha }}
                </p>
            </ion-label>
            <div class="item-note" item-end>
                <button ion-button class="button-inner" (click)="abrirModal(item)">
                    <ion-icon name="create" style="zoom:2.0"></ion-icon>
                </button>
                <button ion-button (click)="eliminar(item)">
                    <ion-icon name="trash" style="zoom:2.0"></ion-icon>
                </button>
            </div>
        </ion-item>
    </ion-list>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando Datos..">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>